header { background: yellow; width:100%; height: 100px; }
section { background: green; width:70%; height: 100px; float: left; }
aside { background: orange; width:30%; height: 100px; float: right; }
footer { background: blue; width:100%; height: 100px; clear: both; }
p { font: 32px Times New Roman, sans-serif; color: black; text-align: center; }
