header { background: url('https://github.com/YouYuu1/HERBATA/hacia.jpg') repeat-x; }
section { background: url('https://github.com/YouYuu1/HERBATA/hacia.jpg') repeat-x; }
aside { background: url('https://github.com/YouYuu1/HERBATA/hacia.jpg') repeat-x; }
footer { background: url('https://github.com/YouYuu1/HERBATA/hacia.jpg') repeat-x; }
p { font: 32px Times New Roman, sans-serif; color: black; text-align: center; }
